In [1]:
import pandas as pd
import re

In [2]:
# Read a Parquet file
df = pd.read_parquet('../Data/Indeed/Indeed_Data.parquet')
# Now 'df' is a DataFrame containing the data from the Parquet file

In [4]:
# Define a regular expression pattern to match dollar sign followed by numbers
pattern = r'\$([\d,]+(?:\.\d+)?)\s*(?:- \$([\d,]+(?:\.\d+)?))?'

# Create new columns for min and max salaries
df['MinSalary'] = None
df['MaxSalary'] = None

# Iterate over the rows of the 'Salary' column
for index, row in df.iterrows():
    line = row['Salary']
    if line is not None:
        match = re.search(pattern, str(line))
        if match:
            min_salary, max_salary = match.groups()
            df.at[index, 'MinSalary'] = float(min_salary.replace(',', '')) if min_salary else None
            df.at[index, 'MaxSalary'] = float(max_salary.replace(',', '')) if max_salary else None

df

,Key,Company,Position,Category,Experience_Level,Salary,Description,Benefits,Work_Commute,Clean_location,latitude,longitude,region_code,region,county,locality,country_code,MinSalary,MaxSalary
0,a9832db271ef3fc4,US Office of the Secretary of Defense,Operations Research Analyst,BA,ENTRY_LEVEL,"$155,700 - $183,500 a year","DutiesThis is a Direct Hire Public Notice, und...",[],On-Site,"Arlington, VA",38.864458,-77.099638,VA,Virginia,Arlington County,Arlington,USA,155700.0,183500.0
1,7f4db33d08d5c611,Booz Allen Hamilton,"IT Business Analyst, Mid",BA,ENTRY_LEVEL,"$52,100 - $119,000 a year",Job Description Location: ...,"['401(k)', '401(k) matching', 'Flexible schedu...",Hybrid Remote,"Atlanta, GA",33.769805,-84.414581,GA,Georgia,Fulton County,Atlanta,USA,52100.0,119000.0
2,0636da957769d80b,PRYSMIANGROUP.COM,SAP Intercompany Business Analyst (FT),BA,ENTRY_LEVEL,None,Prysmian is a global cable manufacturer with...,[],On-Site,"Highland Heights, KY",39.037110,-84.456707,KY,Kentucky,Campbell County,Highland Heights,USA,None,None
3,f2d5e432940c9f42,NYCM,Business Data Analyst (Hybrid),BA,ENTRY_LEVEL,"$35,057 - $63,103 a year",The Business Data Analyst (Hybrid) will perfor...,[],On-Site,"Edmeston, NY 13335",42.702260,-75.248224,NY,New York,Otsego County,Edmeston,USA,35057.0,63103.0
4,ec9509f4c611785a,Johns Hopkins University,Investment Operations Analyst,BA,ENTRY_LEVEL,"$84,700 - $148,300 a year","The Johns Hopkins University, one of the world...",[],Hybrid Remote,"Baltimore, MD 21211",39.319732,-76.649533,MD,Maryland,City of Baltimore,Baltimore,USA,84700.0,148300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23272,072bf35ffdd8645d,"General Dynamics Mission Systems, Inc",Senior Software Engineer,SE,SENIOR_LEVEL,"$146,048 - $162,000 a year",Basic Qualifications : Requires a Bachelo...,"['401(k)', '401(k) matching', 'Flexible schedu...",Hybrid Remote,"Bloomington, MN 55431",44.827321,-93.317043,MN,Minnesota,Hennepin County,Bloomington,USA,146048.0,162000.0
23273,789179d9fd5c1d65,Metropolitan Transportation Authority,Application Developer 1-5 (TCU Represented),SE,SENIOR_LEVEL,"$57,100 - $81,572 a year",Description Job Title: Application Developer A...,[],On-Site,"New York, NY 10004 (Financial District area)",40.688873,-74.018213,NY,New York,Kings County,New York,USA,57100.0,81572.0
23274,f9785443a3551b34,"MPIRE Technology Group, Inc.",Senior Cloud Engineer,SE,SENIOR_LEVEL,"$117,161.90 - $141,098.20 a year","MPIRE Technology Group, Inc is seeking several...","['Dental insurance', 'Employee assistance prog...",Hybrid Remote,"Alexandria, VA 22314",38.804840,-77.046920,VA,Virginia,City of Alexandria,Alexandria,USA,117161.9,141098.2
23275,5f15c9ca93989af6,Talentech Consulting LLC,Statistical Programmer,SE,SENIOR_LEVEL,None,We are looking for two experienced statistical...,"['401(k)', 'Dental insurance', 'Flexible spend...",On-Site,Remote,NaN,NaN,None,None,None,None,None,None,None
23276,ea2bf756466c7fb6,The DEI Group,Sr. Software Engineer/Architect,SE,SENIOR_LEVEL,"$100,000 - $130,000 a year",Senior Software Engineer works as part of an a...,[],On-Site,"Columbia, MD 21045",39.199038,-76.841517,MD,Maryland,Howard County,Columbia,USA,100000.0,130000.0

In [5]:
pattern_hour_range = r'\$([\d,]+(?:\.\d+)?)\s*-\s*\$([\d,]+(?:\.\d+)?)\s*an hour'
pattern_hour_single = r'\$([\d,]+(?:\.\d+)?)\s*an hour'
for index, row in df.iterrows():
    line = row['Salary']
    if line is not None:
        # Check for hourly rates specified as a range
        match_hourly_range = re.search(pattern_hour_range, str(line))
        if match_hourly_range:
            min_hourly, max_hourly = match_hourly_range.groups()
            min_hourly = float(min_hourly.replace(',', '')) if min_hourly else None
            max_hourly = float(max_hourly.replace(',', '')) if max_hourly else None
            df.at[index, 'MinSalary'] = min_hourly * 1920
            df.at[index, 'MaxSalary'] = max_hourly * 1920 if max_hourly else None
        else:
            # Check for hourly rates specified as a single value
            match_hourly_single = re.search(pattern_hour_single, str(line))
            if match_hourly_single:
                min_hourly = match_hourly_single.group(1)
                min_hourly = float(min_hourly.replace(',', '')) if min_hourly else None
                df.at[index, 'MinSalary'] = min_hourly * 1920

# Print the updated DataFrame
df

,Key,Company,Position,Category,Experience_Level,Salary,Description,Benefits,Work_Commute,Clean_location,latitude,longitude,region_code,region,county,locality,country_code,MinSalary,MaxSalary
0,a9832db271ef3fc4,US Office of the Secretary of Defense,Operations Research Analyst,BA,ENTRY_LEVEL,"$155,700 - $183,500 a year","DutiesThis is a Direct Hire Public Notice, und...",[],On-Site,"Arlington, VA",38.864458,-77.099638,VA,Virginia,Arlington County,Arlington,USA,155700.0,183500.0
1,7f4db33d08d5c611,Booz Allen Hamilton,"IT Business Analyst, Mid",BA,ENTRY_LEVEL,"$52,100 - $119,000 a year",Job Description Location: ...,"['401(k)', '401(k) matching', 'Flexible schedu...",Hybrid Remote,"Atlanta, GA",33.769805,-84.414581,GA,Georgia,Fulton County,Atlanta,USA,52100.0,119000.0
2,0636da957769d80b,PRYSMIANGROUP.COM,SAP Intercompany Business Analyst (FT),BA,ENTRY_LEVEL,None,Prysmian is a global cable manufacturer with...,[],On-Site,"Highland Heights, KY",39.037110,-84.456707,KY,Kentucky,Campbell County,Highland Heights,USA,None,None
3,f2d5e432940c9f42,NYCM,Business Data Analyst (Hybrid),BA,ENTRY_LEVEL,"$35,057 - $63,103 a year",The Business Data Analyst (Hybrid) will perfor...,[],On-Site,"Edmeston, NY 13335",42.702260,-75.248224,NY,New York,Otsego County,Edmeston,USA,35057.0,63103.0
4,ec9509f4c611785a,Johns Hopkins University,Investment Operations Analyst,BA,ENTRY_LEVEL,"$84,700 - $148,300 a year","The Johns Hopkins University, one of the world...",[],Hybrid Remote,"Baltimore, MD 21211",39.319732,-76.649533,MD,Maryland,City of Baltimore,Baltimore,USA,84700.0,148300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23272,072bf35ffdd8645d,"General Dynamics Mission Systems, Inc",Senior Software Engineer,SE,SENIOR_LEVEL,"$146,048 - $162,000 a year",Basic Qualifications : Requires a Bachelo...,"['401(k)', '401(k) matching', 'Flexible schedu...",Hybrid Remote,"Bloomington, MN 55431",44.827321,-93.317043,MN,Minnesota,Hennepin County,Bloomington,USA,146048.0,162000.0
23273,789179d9fd5c1d65,Metropolitan Transportation Authority,Application Developer 1-5 (TCU Represented),SE,SENIOR_LEVEL,"$57,100 - $81,572 a year",Description Job Title: Application Developer A...,[],On-Site,"New York, NY 10004 (Financial District area)",40.688873,-74.018213,NY,New York,Kings County,New York,USA,57100.0,81572.0
23274,f9785443a3551b34,"MPIRE Technology Group, Inc.",Senior Cloud Engineer,SE,SENIOR_LEVEL,"$117,161.90 - $141,098.20 a year","MPIRE Technology Group, Inc is seeking several...","['Dental insurance', 'Employee assistance prog...",Hybrid Remote,"Alexandria, VA 22314",38.804840,-77.046920,VA,Virginia,City of Alexandria,Alexandria,USA,117161.9,141098.2
23275,5f15c9ca93989af6,Talentech Consulting LLC,Statistical Programmer,SE,SENIOR_LEVEL,None,We are looking for two experienced statistical...,"['401(k)', 'Dental insurance', 'Flexible spend...",On-Site,Remote,NaN,NaN,None,None,None,None,None,None,None
23276,ea2bf756466c7fb6,The DEI Group,Sr. Software Engineer/Architect,SE,SENIOR_LEVEL,"$100,000 - $130,000 a year",Senior Software Engineer works as part of an a...,[],On-Site,"Columbia, MD 21045",39.199038,-76.841517,MD,Maryland,Howard County,Columbia,USA,100000.0,130000.0

In [6]:
pattern_month = r'(?:From\s*)?\$([\d,]+(?:\.\d+)?)\s*(?:- \$([\d,]+(?:\.\d+)?))?\s*a\s*month'
# Separate loop for updating monthly rates
for index, row in df.iterrows():
    line = row['Salary']
    if line is not None:
        match_monthly = re.search(pattern_month, str(line))
        if match_monthly:
            min_monthly, max_monthly = match_monthly.groups()
            min_monthly = float(min_monthly.replace(',', '')) if min_monthly else None
            max_monthly = float(max_monthly.replace(',', '')) if max_monthly else None
            df.at[index, 'MinSalary'] = min_monthly * 12
            df.at[index, 'MaxSalary'] = max_monthly * 12 if max_monthly else None  # No defined max for monthly rates

# Print the updated DataFrame
df

,Key,Company,Position,Category,Experience_Level,Salary,Description,Benefits,Work_Commute,Clean_location,latitude,longitude,region_code,region,county,locality,country_code,MinSalary,MaxSalary
0,a9832db271ef3fc4,US Office of the Secretary of Defense,Operations Research Analyst,BA,ENTRY_LEVEL,"$155,700 - $183,500 a year","DutiesThis is a Direct Hire Public Notice, und...",[],On-Site,"Arlington, VA",38.864458,-77.099638,VA,Virginia,Arlington County,Arlington,USA,155700.0,183500.0
1,7f4db33d08d5c611,Booz Allen Hamilton,"IT Business Analyst, Mid",BA,ENTRY_LEVEL,"$52,100 - $119,000 a year",Job Description Location: ...,"['401(k)', '401(k) matching', 'Flexible schedu...",Hybrid Remote,"Atlanta, GA",33.769805,-84.414581,GA,Georgia,Fulton County,Atlanta,USA,52100.0,119000.0
2,0636da957769d80b,PRYSMIANGROUP.COM,SAP Intercompany Business Analyst (FT),BA,ENTRY_LEVEL,None,Prysmian is a global cable manufacturer with...,[],On-Site,"Highland Heights, KY",39.037110,-84.456707,KY,Kentucky,Campbell County,Highland Heights,USA,None,None
3,f2d5e432940c9f42,NYCM,Business Data Analyst (Hybrid),BA,ENTRY_LEVEL,"$35,057 - $63,103 a year",The Business Data Analyst (Hybrid) will perfor...,[],On-Site,"Edmeston, NY 13335",42.702260,-75.248224,NY,New York,Otsego County,Edmeston,USA,35057.0,63103.0
4,ec9509f4c611785a,Johns Hopkins University,Investment Operations Analyst,BA,ENTRY_LEVEL,"$84,700 - $148,300 a year","The Johns Hopkins University, one of the world...",[],Hybrid Remote,"Baltimore, MD 21211",39.319732,-76.649533,MD,Maryland,City of Baltimore,Baltimore,USA,84700.0,148300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23272,072bf35ffdd8645d,"General Dynamics Mission Systems, Inc",Senior Software Engineer,SE,SENIOR_LEVEL,"$146,048 - $162,000 a year",Basic Qualifications : Requires a Bachelo...,"['401(k)', '401(k) matching', 'Flexible schedu...",Hybrid Remote,"Bloomington, MN 55431",44.827321,-93.317043,MN,Minnesota,Hennepin County,Bloomington,USA,146048.0,162000.0
23273,789179d9fd5c1d65,Metropolitan Transportation Authority,Application Developer 1-5 (TCU Represented),SE,SENIOR_LEVEL,"$57,100 - $81,572 a year",Description Job Title: Application Developer A...,[],On-Site,"New York, NY 10004 (Financial District area)",40.688873,-74.018213,NY,New York,Kings County,New York,USA,57100.0,81572.0
23274,f9785443a3551b34,"MPIRE Technology Group, Inc.",Senior Cloud Engineer,SE,SENIOR_LEVEL,"$117,161.90 - $141,098.20 a year","MPIRE Technology Group, Inc is seeking several...","['Dental insurance', 'Employee assistance prog...",Hybrid Remote,"Alexandria, VA 22314",38.804840,-77.046920,VA,Virginia,City of Alexandria,Alexandria,USA,117161.9,141098.2
23275,5f15c9ca93989af6,Talentech Consulting LLC,Statistical Programmer,SE,SENIOR_LEVEL,None,We are looking for two experienced statistical...,"['401(k)', 'Dental insurance', 'Flexible spend...",On-Site,Remote,NaN,NaN,None,None,None,None,None,None,None
23276,ea2bf756466c7fb6,The DEI Group,Sr. Software Engineer/Architect,SE,SENIOR_LEVEL,"$100,000 - $130,000 a year",Senior Software Engineer works as part of an a...,[],On-Site,"Columbia, MD 21045",39.199038,-76.841517,MD,Maryland,Howard County,Columbia,USA,100000.0,130000.0

In [9]:
df.to_parquet('../Data/Indeed/Indeed_Data.parquet')