In [109]:
import pandas as pd

In [110]:
code = 'SE'

In [111]:
Data1 = code + '.tsv'
Data2 = code + '_desc.tsv'

In [112]:
DF1 = pd.read_csv(Data1, sep='\t')
DF1

,Key,Company,Position,Location,Category,Experience_Level,Salary
0,75944c680d865fb1,T. Rowe Price,Associate Software Engineer,"Owings Mills, MD",SE,ENTRY_LEVEL,NaN
1,20a93e0e218adf2f,Reynolds and Reynolds,Entry Level Web Developer,"Dayton, OH 45430",SE,ENTRY_LEVEL,NaN
2,9c239bd1bfc9cbcc,HumanIT Solutions,Full Stack Developer,"Beavercreek, OH 45434",SE,ENTRY_LEVEL,NaN
3,5f43c759f96783a5,Muncy Industries,Software Engineer,"Turbotville, PA 17772",SE,ENTRY_LEVEL,"$60,101 - $75,086 a year"
4,a9c6f510fb30250a,Muncy Industries,Software Engineer,"Houston, TX 77042 (Briar Forest area)",SE,ENTRY_LEVEL,"$55,000 - $70,000 a year"
...,...,...,...,...,...,...,...
3092,072bf35ffdd8645d,"General Dynamics Mission Systems, Inc",Senior Software Engineer,"Hybrid remote in Bloomington, MN 55431",SE,SENIOR_LEVEL,"$146,048 - $162,000 a year"
3093,789179d9fd5c1d65,Metropolitan Transportation Authority,Application Developer 1-5 (TCU Represented),"New York, NY 10004 (Financial District area)",SE,SENIOR_LEVEL,"$57,100 - $81,572 a year"
3094,f9785443a3551b34,"MPIRE Technology Group, Inc.",Senior Cloud Engineer,"Hybrid remote in Alexandria, VA 22314",SE,SENIOR_LEVEL,"$117,161.90 - $141,098.20 a year"
3095,5f15c9ca93989af6,Talentech Consulting LLC,Statistical Programmer,Remote,SE,SENIOR_LEVEL,NaN
3096,ea2bf756466c7fb6,The DEI Group,Sr. Software Engineer/Architect,"Columbia, MD 21045",SE,SENIOR_LEVEL,"$100,000 - $130,000 a year"

In [113]:
DF2 = pd.read_csv(Data2, sep='\t')

In [114]:
columns = ['Key', 'Description', 'Benefits']

In [115]:
DF2.columns = columns
DF2

,Key,Description,Benefits
0,20a93e0e218adf2f,The Reynolds and Reynolds Marketing Developmen...,"['401(k)', '401(k) 6% Match', '401(k) matching..."
1,9c239bd1bfc9cbcc,"Location: Beavercreek, OHHumanIT Solutions is ...",[]
2,5f43c759f96783a5,DescriptionMuncy Industries is seeking a Softw...,"['401(k)', 'Dental insurance', 'Health insuran..."
3,a9c6f510fb30250a,DescriptionMuncy Industries is seeking a Softw...,"['401(k)', 'Dental insurance', 'Health insuran..."
4,c52cde59e767ea35,Calling all innovators – find your future at F...,[]
...,...,...,...
3091,072bf35ffdd8645d,Basic Qualifications : Requires a Bachelo...,"['401(k)', '401(k) matching', 'Flexible schedu..."
3092,789179d9fd5c1d65,Description Job Title: Application Developer A...,[]
3093,f9785443a3551b34,"MPIRE Technology Group, Inc is seeking several...","['Dental insurance', 'Employee assistance prog..."
3094,5f15c9ca93989af6,We are looking for two experienced statistical...,"['401(k)', 'Dental insurance', 'Flexible spend..."
3095,ea2bf756466c7fb6,Senior Software Engineer works as part of an a...,[]

In [116]:
Merged = code + '_Merged'

In [117]:
Merged = pd.merge(DF1, DF2, on='Key', how='inner')

In [118]:
Merged = Merged.drop_duplicates('Key')

In [119]:
Merged.to_csv(code + '_final.tsv', sep='\t', index=False)

In [120]:
verifydf = pd.read_csv(code + '_final.tsv', sep='\t')
verifydf

,Key,Company,Position,Location,Category,Experience_Level,Salary,Description,Benefits
0,20a93e0e218adf2f,Reynolds and Reynolds,Entry Level Web Developer,"Dayton, OH 45430",SE,ENTRY_LEVEL,NaN,The Reynolds and Reynolds Marketing Developmen...,"['401(k)', '401(k) 6% Match', '401(k) matching..."
1,9c239bd1bfc9cbcc,HumanIT Solutions,Full Stack Developer,"Beavercreek, OH 45434",SE,ENTRY_LEVEL,NaN,"Location: Beavercreek, OHHumanIT Solutions is ...",[]
2,5f43c759f96783a5,Muncy Industries,Software Engineer,"Turbotville, PA 17772",SE,ENTRY_LEVEL,"$60,101 - $75,086 a year",DescriptionMuncy Industries is seeking a Softw...,"['401(k)', 'Dental insurance', 'Health insuran..."
3,a9c6f510fb30250a,Muncy Industries,Software Engineer,"Houston, TX 77042 (Briar Forest area)",SE,ENTRY_LEVEL,"$55,000 - $70,000 a year",DescriptionMuncy Industries is seeking a Softw...,"['401(k)', 'Dental insurance', 'Health insuran..."
4,c52cde59e767ea35,"Fiserv, Inc.",Software Development Engineer,"Coral Springs, FL 33065",SE,ENTRY_LEVEL,NaN,Calling all innovators – find your future at F...,[]
...,...,...,...,...,...,...,...,...,...
3091,072bf35ffdd8645d,"General Dynamics Mission Systems, Inc",Senior Software Engineer,"Hybrid remote in Bloomington, MN 55431",SE,SENIOR_LEVEL,"$146,048 - $162,000 a year",Basic Qualifications : Requires a Bachelo...,"['401(k)', '401(k) matching', 'Flexible schedu..."
3092,789179d9fd5c1d65,Metropolitan Transportation Authority,Application Developer 1-5 (TCU Represented),"New York, NY 10004 (Financial District area)",SE,SENIOR_LEVEL,"$57,100 - $81,572 a year",Description Job Title: Application Developer A...,[]
3093,f9785443a3551b34,"MPIRE Technology Group, Inc.",Senior Cloud Engineer,"Hybrid remote in Alexandria, VA 22314",SE,SENIOR_LEVEL,"$117,161.90 - $141,098.20 a year","MPIRE Technology Group, Inc is seeking several...","['Dental insurance', 'Employee assistance prog..."
3094,5f15c9ca93989af6,Talentech Consulting LLC,Statistical Programmer,Remote,SE,SENIOR_LEVEL,NaN,We are looking for two experienced statistical...,"['401(k)', 'Dental insurance', 'Flexible spend..."
3095,ea2bf756466c7fb6,The DEI Group,Sr. Software Engineer/Architect,"Columbia, MD 21045",SE,SENIOR_LEVEL,"$100,000 - $130,000 a year",Senior Software Engineer works as part of an a...,[]