In [10]:
import pandas as pd

In [11]:
codes = ['BA', 'CAE', 'CE', 'DA', 'DE', 'FEA', 'ME', 'PJM', 'PM', 'SE']

In [12]:
BA = pd.read_csv('BA' + '_final.tsv', sep='\t')
CAE = pd.read_csv('CAE' + '_final.tsv', sep='\t')
CE = pd.read_csv('CE' + '_final.tsv', sep='\t')
DA = pd.read_csv('DA' + '_final.tsv', sep='\t')
DE = pd.read_csv('DE' + '_final.tsv', sep='\t')
FEA = pd.read_csv('FEA' + '_final.tsv', sep='\t')
ME = pd.read_csv('ME' + '_final.tsv', sep='\t')
PJM = pd.read_csv('PJM' + '_final.tsv', sep='\t')
PM = pd.read_csv('PM' + '_final.tsv', sep='\t')
SE = pd.read_csv('SE' + '_final.tsv', sep='\t')

In [14]:
frame =  [BA, CAE, CE, DA, DE, FEA, ME, PJM, PM, SE]

In [16]:
df = pd.concat(frame, ignore_index=True)
df

,Key,Company,Position,Location,Category,Experience_Level,Salary,Description,Benefits
0,a9832db271ef3fc4,US Office of the Secretary of Defense,Operations Research Analyst,"Arlington, VA",BA,ENTRY_LEVEL,"$155,700 - $183,500 a year","DutiesThis is a Direct Hire Public Notice, und...",[]
1,7f4db33d08d5c611,Booz Allen Hamilton,"IT Business Analyst, Mid","Hybrid remote in Atlanta, GA",BA,ENTRY_LEVEL,"$52,100 - $119,000 a year",Job Description Location: ...,"['401(k)', '401(k) matching', 'Flexible schedu..."
2,0636da957769d80b,PRYSMIANGROUP.COM,SAP Intercompany Business Analyst (FT),"Highland Heights, KY",BA,ENTRY_LEVEL,NaN,Prysmian is a global cable manufacturer with...,[]
3,f2d5e432940c9f42,NYCM,Business Data Analyst (Hybrid),"Edmeston, NY 13335",BA,ENTRY_LEVEL,"$35,057 - $63,103 a year",The Business Data Analyst (Hybrid) will perfor...,[]
4,ec9509f4c611785a,Johns Hopkins University,Investment Operations Analyst,"Hybrid remote in Baltimore, MD 21211",BA,ENTRY_LEVEL,"$84,700 - $148,300 a year","The Johns Hopkins University, one of the world...",[]
...,...,...,...,...,...,...,...,...,...
25274,072bf35ffdd8645d,"General Dynamics Mission Systems, Inc",Senior Software Engineer,"Hybrid remote in Bloomington, MN 55431",SE,SENIOR_LEVEL,"$146,048 - $162,000 a year",Basic Qualifications : Requires a Bachelo...,"['401(k)', '401(k) matching', 'Flexible schedu..."
25275,789179d9fd5c1d65,Metropolitan Transportation Authority,Application Developer 1-5 (TCU Represented),"New York, NY 10004 (Financial District area)",SE,SENIOR_LEVEL,"$57,100 - $81,572 a year",Description Job Title: Application Developer A...,[]
25276,f9785443a3551b34,"MPIRE Technology Group, Inc.",Senior Cloud Engineer,"Hybrid remote in Alexandria, VA 22314",SE,SENIOR_LEVEL,"$117,161.90 - $141,098.20 a year","MPIRE Technology Group, Inc is seeking several...","['Dental insurance', 'Employee assistance prog..."
25277,5f15c9ca93989af6,Talentech Consulting LLC,Statistical Programmer,Remote,SE,SENIOR_LEVEL,NaN,We are looking for two experienced statistical...,"['401(k)', 'Dental insurance', 'Flexible spend..."
25278,ea2bf756466c7fb6,The DEI Group,Sr. Software Engineer/Architect,"Columbia, MD 21045",SE,SENIOR_LEVEL,"$100,000 - $130,000 a year",Senior Software Engineer works as part of an a...,[]

In [18]:
df = df.drop_duplicates('Key')
df

,Key,Company,Position,Location,Category,Experience_Level,Salary,Description,Benefits
0,a9832db271ef3fc4,US Office of the Secretary of Defense,Operations Research Analyst,"Arlington, VA",BA,ENTRY_LEVEL,"$155,700 - $183,500 a year","DutiesThis is a Direct Hire Public Notice, und...",[]
1,7f4db33d08d5c611,Booz Allen Hamilton,"IT Business Analyst, Mid","Hybrid remote in Atlanta, GA",BA,ENTRY_LEVEL,"$52,100 - $119,000 a year",Job Description Location: ...,"['401(k)', '401(k) matching', 'Flexible schedu..."
2,0636da957769d80b,PRYSMIANGROUP.COM,SAP Intercompany Business Analyst (FT),"Highland Heights, KY",BA,ENTRY_LEVEL,NaN,Prysmian is a global cable manufacturer with...,[]
3,f2d5e432940c9f42,NYCM,Business Data Analyst (Hybrid),"Edmeston, NY 13335",BA,ENTRY_LEVEL,"$35,057 - $63,103 a year",The Business Data Analyst (Hybrid) will perfor...,[]
4,ec9509f4c611785a,Johns Hopkins University,Investment Operations Analyst,"Hybrid remote in Baltimore, MD 21211",BA,ENTRY_LEVEL,"$84,700 - $148,300 a year","The Johns Hopkins University, one of the world...",[]
...,...,...,...,...,...,...,...,...,...
25274,072bf35ffdd8645d,"General Dynamics Mission Systems, Inc",Senior Software Engineer,"Hybrid remote in Bloomington, MN 55431",SE,SENIOR_LEVEL,"$146,048 - $162,000 a year",Basic Qualifications : Requires a Bachelo...,"['401(k)', '401(k) matching', 'Flexible schedu..."
25275,789179d9fd5c1d65,Metropolitan Transportation Authority,Application Developer 1-5 (TCU Represented),"New York, NY 10004 (Financial District area)",SE,SENIOR_LEVEL,"$57,100 - $81,572 a year",Description Job Title: Application Developer A...,[]
25276,f9785443a3551b34,"MPIRE Technology Group, Inc.",Senior Cloud Engineer,"Hybrid remote in Alexandria, VA 22314",SE,SENIOR_LEVEL,"$117,161.90 - $141,098.20 a year","MPIRE Technology Group, Inc is seeking several...","['Dental insurance', 'Employee assistance prog..."
25277,5f15c9ca93989af6,Talentech Consulting LLC,Statistical Programmer,Remote,SE,SENIOR_LEVEL,NaN,We are looking for two experienced statistical...,"['401(k)', 'Dental insurance', 'Flexible spend..."
25278,ea2bf756466c7fb6,The DEI Group,Sr. Software Engineer/Architect,"Columbia, MD 21045",SE,SENIOR_LEVEL,"$100,000 - $130,000 a year",Senior Software Engineer works as part of an a...,[]

In [19]:
df.to_csv('indeed_final_merged_data.tsv', sep='\t', index=False)

In [21]:
verify = pd.read_csv('indeed_final_merged_data.tsv', sep='\t')
verify

,Key,Company,Position,Location,Category,Experience_Level,Salary,Description,Benefits
0,a9832db271ef3fc4,US Office of the Secretary of Defense,Operations Research Analyst,"Arlington, VA",BA,ENTRY_LEVEL,"$155,700 - $183,500 a year","DutiesThis is a Direct Hire Public Notice, und...",[]
1,7f4db33d08d5c611,Booz Allen Hamilton,"IT Business Analyst, Mid","Hybrid remote in Atlanta, GA",BA,ENTRY_LEVEL,"$52,100 - $119,000 a year",Job Description Location: ...,"['401(k)', '401(k) matching', 'Flexible schedu..."
2,0636da957769d80b,PRYSMIANGROUP.COM,SAP Intercompany Business Analyst (FT),"Highland Heights, KY",BA,ENTRY_LEVEL,NaN,Prysmian is a global cable manufacturer with...,[]
3,f2d5e432940c9f42,NYCM,Business Data Analyst (Hybrid),"Edmeston, NY 13335",BA,ENTRY_LEVEL,"$35,057 - $63,103 a year",The Business Data Analyst (Hybrid) will perfor...,[]
4,ec9509f4c611785a,Johns Hopkins University,Investment Operations Analyst,"Hybrid remote in Baltimore, MD 21211",BA,ENTRY_LEVEL,"$84,700 - $148,300 a year","The Johns Hopkins University, one of the world...",[]
...,...,...,...,...,...,...,...,...,...
23272,072bf35ffdd8645d,"General Dynamics Mission Systems, Inc",Senior Software Engineer,"Hybrid remote in Bloomington, MN 55431",SE,SENIOR_LEVEL,"$146,048 - $162,000 a year",Basic Qualifications : Requires a Bachelo...,"['401(k)', '401(k) matching', 'Flexible schedu..."
23273,789179d9fd5c1d65,Metropolitan Transportation Authority,Application Developer 1-5 (TCU Represented),"New York, NY 10004 (Financial District area)",SE,SENIOR_LEVEL,"$57,100 - $81,572 a year",Description Job Title: Application Developer A...,[]
23274,f9785443a3551b34,"MPIRE Technology Group, Inc.",Senior Cloud Engineer,"Hybrid remote in Alexandria, VA 22314",SE,SENIOR_LEVEL,"$117,161.90 - $141,098.20 a year","MPIRE Technology Group, Inc is seeking several...","['Dental insurance', 'Employee assistance prog..."
23275,5f15c9ca93989af6,Talentech Consulting LLC,Statistical Programmer,Remote,SE,SENIOR_LEVEL,NaN,We are looking for two experienced statistical...,"['401(k)', 'Dental insurance', 'Flexible spend..."
23276,ea2bf756466c7fb6,The DEI Group,Sr. Software Engineer/Architect,"Columbia, MD 21045",SE,SENIOR_LEVEL,"$100,000 - $130,000 a year",Senior Software Engineer works as part of an a...,[]